$white_clr: #fff;

$text_clr: #29253a;

$gray_dark: #646e7a; // 676379
$gray_light: #c0d1d5;
$gray_light_2: #eaeff3;
$gray_icons: #8099ac;

$radius_containers: 8px;

$red: #df5a5a;
$violet: #a952ed;
$purpley-blue: #582fec;
$orange: #ffb356;
$blue: #459cff;

$accent_green: #26c59f;
$accent_green-light: #20e18a;

$accent_blue: #3774df; // 3875df

$body_bg: #f9f9f9;
$filters_bg-color: #2c2740;
$filters_bg: radial-gradient(circle at 55% 0, #2c2740, #18181a);