@import "~styles/variables";
@import "~styles/media";
@import "~styles/mixins";

.card-header {
  display: flex;
  &__logo {
    display: block;
    max-width: 40px;
    margin-right: 6px;
    img {
      width: 100%;
    }
  }
  &__left {
    flex-shrink: 0;
  }
  &__favorites {
    flex-shrink: 0;
    margin-left: 20px;
    margin-top: 3px;
    color: $gray_icons;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: $purpley-blue;
    }
  }
  &__title {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;

    &--sibling-logo {
      max-width: calc(100% - 82px);
    }
  }
}

.card {
  min-height: 100%;
  color: $text_clr;
  &__header {
    padding: 4.5%;
  }
  &__content {
    padding: 0 6.8%;
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3% 4.5%;
    .footer-btn {
      margin-left: auto;
    }
  }
  &__text-block {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.35;
    letter-spacing: -0.013em;
    color: #29253a;
  }

  @include bp-min ($mq-mobile-small) {
    &__footer {
      padding-top: 0;
    }
  }
}

.promo {
  &__img {
    width: 100%;
    margin: 15px 0;
  }
  &__link {
    display: block;
    font-size: 12px;
    color: $gray_dark;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: $accent_green;
    }
  }

  &__title {
    margin: calc(4px + 2%) 0;
    font-size: 17px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: -0.012em;
    color: $text_clr;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__btn {
    float: right;
  }

  @include bp-min ($mq-mobile-small) {
    &__title {
      width: calc(100% - 140px);
      float: left;
    }
  }
}

.media-statistick {

  margin-right: 15px;

  > * {
    display: flex;
    margin: 8px 0;
  }

  &__icon {
    margin-right: 10px;
    color: $blue_icons;
  }

  &__number {
    color: $text_clr-2;
    font-size: 13px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include bp-min ($mq-mobile-small) {
    display: flex;
    > * {
      margin: 14px 15px 10px 0;
    }
  }
}