<section class="filters">
  <a href="#" class="logo">
    <img class="logo__img" src="assets/images/adspikes-logo.svg" alt="Ad Spikes">
  </a>

  <div class="filter-group">
    <h2 class="filter-group__title">Search</h2>
    <div class="filter-group__inuts">
      <input type="text">
      <input type="text">
    </div>
    <span class="filter-group__subtitle">Gender</span>
  </div>

  <div class="filter-group">
    <h2 class="filter-group__title">Filter</h2>
    <div class="filter-group__inuts">
      <input type="text">
      <input type="text">
    </div>
  </div>
</section>