<section class="filters">
  <a href="#" class="logo">
    <img class="logo__img" src="assets/images/adspikes-logo.svg" alt="Ad Spikes">
  </a>

  <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="filter-group">
      <h2 class="filter-group__title">Search</h2>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Search mode</mat-label>
        <mat-select formControlName="sortBy" class="form-group__input">
          <mat-option *ngFor="let option of searchModes" [value]="option.id">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Sort by</mat-label>
        <mat-select formControlName="sortBy" class="form-group__input">
          <mat-option *ngFor="let option of sortBy" [value]="option.id">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filter-group">
      <h2 class="filter-group__title">Filter</h2>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Countries</mat-label>
        <mat-select formControlName="countries" class="form-group__input" multiple>
          <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Ad type</mat-label>
        <mat-select formControlName="adType" class="form-group__input">
          <mat-option *ngFor="let adType of adTypes" [value]="adType.id">{{ adType.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Ad position</mat-label>
        <mat-select formControlName="adPosition" class="form-group__input">
          <mat-option *ngFor="let adPosition of adPositions" [value]="adPosition.id">{{ adPosition.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <h4 class="filter-group__subtitle">Gender</h4>
      <mat-checkbox value="male">Male</mat-checkbox>
      <mat-checkbox value="female">Female</mat-checkbox>
    </div>
  </form>
</section>