@import "~styles/variables";
@import "~styles/media";
@import "~styles/mixins";

.logo {
  display: block;
  width: 75%;
  &__img {
    max-width: 100%;
  }
}

.filter-group {
  padding: 20px 20px 0;

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
  }

  &__subtitle {
    margin-bottom: 10px;
    color: $gray_light;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 1.2;
  }
  @include bp-min($mq-desktop-min) {
    padding: 25px 40px 0;
  }
}

