<ul class="main-nav">
  <li>
    <a href="#" class="main-nav__link" title="title">
      <svg width="16px" height="16px">
        <use xlink:href="#question"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" class="main-nav__link" title="title">
      <svg width="16px" height="16px">
        <use xlink:href="#heart"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="main-nav__link" (click)="toggleSubNav()" title="title">
      <svg width="16px" height="16px">
        <use xlink:href="#hamburger"></use>
      </svg>
    </a>
  </li>
</ul>

<ul class="sub-nav" [ngClass]="{ 'active': subnavExpanded }">
  <li>
    <a href="#" class="sub-nav__link">Members Area</a>
  </li>
  <li>
    <a href="#" class="sub-nav__link">Logout</a>
  </li>
</ul>
<div *ngIf="subnavExpanded" class="overlay" (click)="hideSubNav()"></div>